ca-home works

<div class="container" style="font-size:13px">
    <ul class="list-group" >
        <li class="list-group-item row d-flex justify-content-end" >
            <div class="col-5 mt-2 fw-bold" ><p class="text-center">IdTX</p></div>
            <div class="col-2 mt-2 fw-bold"><p class="text-center">Valutazione</p></div>
            <div class="col-4 mt-2 fw-bold"><p class="text-center">Note</p></div>
            <div class="col-1 mt-2 fw-bold"><p class="text-center">Check</p></div>
        </li>
        <li *ngFor="let val of this.valutazioni; index as i;" class="list-group-item row d-flex" id={{i}}>
            <div class="col-5 d-flex justify-content-center align-items-center">{{val.getIdTX()}}</div>
            <div class="col-2 d-flex justify-content-center align-items-center">{{val.getValutazione()}}</div>
            <div class="col-4 d-flex justify-content-center align-items-center">{{val.getNote()}}</div>
            <div class="col-1 d-flex justify-content-center align-items-center"><button (click)="checkMutability(i+'',val.getIdValutazione())" class="btn btn-info">check</button></div>
        </li>
    </ul>
</div>
